@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300;1,700&display=swap');
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    display: flex;
    justify-content: center;

    background-color: #e5e5e5;
}

body {
    width: 100%;
    max-width: 1280px;
  
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
}
.header {
    display: flex;
    width: 1280px;
    height: 122px;
    justify-content: space-between;
    align-items: center;

    padding: 0 36px;
}
.logo {
    width: 209px;
    height: 104px;
}
.lista_menu{
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    font-size: 24px;
    color: #777777;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;  
}
.banner {
    width: 1280px;
    height: 235px;

    display: flex;
    justify-content: center;
}
.corpo h1 {
    justify-content: center;
    display: flex;
    font-weight: 800;
    font-size: 60px;
    line-height: 82px;
    margin: 82px;
}
.corpo .fotos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 200px;
}
.corpo .fotos .foto1{
    width: 400px;
    height: 600px;
}
.corpo .fotos .foto2{
    width: 600px;
    height: 757.94px;
}
.banner2 {
    background-color: #c2185b;
    padding: 30px 50px;
}
.banner2 h2 {
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 800;
    padding: 40px 0;
}
.sale_off {
    display: flex;
    justify-content: center;
    border: 10px 20px;
    
}
.sale_off .cards {
    padding: 1px;
    background-color: white;
    margin: auto;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}
/* 
.banner2.sale_off .cards h3 {
    padding: 10px; 
} */
 .sale_off .cards .texto_sale {
    padding: 10px;
} 
.corpo2 {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
 .corpo2 .titulo {
    display: flex;
    width: 400px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
} 
.corpo2 .detalhe {
    /* display: flex; */
    justify-content: start;
    width: 585px;
    height: 144px;
    position: absolute;
    margin-right: 600px;
}
.corpo2 .detalhe p{
    background: #c2185b;
    width: 403px;
    height: 99px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 39px
}
.corpo2 .titulo .detalhe2 {
    display: flex;
}
.corpo2 .fotobanner1 {
    width: 513px;
    height: 663px;
    margin-top: 275px;
    margin-right: 30px;
}
.corpo2 .fotobanner2 {
    width: 507px;
    height: 939px;
    padding-top: 30px;
}
footer {
    min-height: 248px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 32px;
    margin: 40px -32px 40px -32px;
    background-color: #c2185b;
    color: #fff;
}
.rodape {
    display: flex;
    width: 1280px;
    height: 248px;
    background-color: #C2185B;
    margin-top: 50px;
}
.rodape .rodape_area {
    
}
.rodape img {
    display: flex;
    margin-left: 128px;
    position: absolute;
    width: 233px;
    height: 123px;
}
.rodape p {
    width: 255px;
    margin-left: 128px;
    font-size: 14px;
    margin-top: 100px;
}
/* .categoria {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-left: 260px;

} */

.categoria {
    margin-top: 50px;
    margin-left: 200px;
}
.categoria h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}
.categoria .lista_categoria {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.institucional {
    margin-top: 50px;
    margin-left: 200px;
}
.institucional h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}
.institucional .lista_institucional{
    display: flex;
    gap: 5px;
    flex-direction: column;
}